/* src/main/css/main.scss */
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LOTTERIACHAB";
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF_HambakSnow";
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MBC1961GulimM";
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#msg {
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 33.5;
  color: rgb(255, 255, 255);
  width: 300px;
  height: 50px;
  left: 50%;
  margin-left: -150px;
  bottom: 50px;
  position: absolute;
  filter: drop-shadow(0 0 3px white);
}
#logo {
  font-family: "LOTTERIACHAB";
  font-size: 120;
  color: rgb(255, 255, 255);
  width: 320px;
  height: 250px;
  left: 50%;
  margin-left: -160px;
  bottom: 50%;
  margin-bottom: -100px;
  text-align: center;
  line-height: 120px;
  position: absolute;
  filter: drop-shadow(0 0 10px white);
}
#videoElement {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
#stageMsg {
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 35;
  font-weight: 700;
  color: rgb(55, 55, 55);
  width: 500px;
  height: 50px;
  left: 50%;
  margin-left: -150px;
  top: 50px;
  position: absolute;
}
.cutMenu {
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 15;
  color: rgb(95, 78, 78);
  margin: 20px;
}
#logoText {
  font-family: "LOTTERIACHAB";
  text-align: center;
  position: absolute;
}
#dateText {
  font-family: "NEXON Lv1 Gothic OTF";
  position: absolute;
  opacity: 0.6;
}
#timer {
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 25;
  color: rgb(146, 130, 130);
  width: 100px;
  height: 100px;
  top: 100px;
  right: 10px;
  position: absolute;
}
#downloadBtn {
  font-family: "NEXON Lv1 Gothic OTF";
  width: 180px;
  height: 60px;
  bottom: 50px;
  left: 50%;
  margin-left: -150px;
}
.btn {
  font-family: "NEXON Lv1 Gothic OTF";
  font-size: 25;
  color: rgb(146, 130, 130);
  width: 100px;
  margin: 10px;
  right: 10px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border-color: rgb(255, 255, 255);
}
.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  filter: drop-shadow(0 0 7px white);
}
.snow:nth-child(1) {
  opacity: 0.3944;
  transform: translate(67.0492vw, -10px) scale(0.6563);
  animation: fall-1 25s -5s linear infinite;
}
@keyframes fall-1 {
  60.997% {
    transform: translate(58.0661vw, 60.997vh) scale(0.6563);
  }
  to {
    transform: translate(62.55765vw, 100vh) scale(0.6563);
  }
}
.snow:nth-child(2) {
  opacity: 0.0087;
  transform: translate(19.66vw, -10px) scale(0.7602);
  animation: fall-2 30s -3s linear infinite;
}
@keyframes fall-2 {
  71.662% {
    transform: translate(16.3942vw, 71.662vh) scale(0.7602);
  }
  to {
    transform: translate(18.0271vw, 100vh) scale(0.7602);
  }
}
.snow:nth-child(3) {
  opacity: 0.8706;
  transform: translate(86.2833vw, -10px) scale(0.2125);
  animation: fall-3 10s -19s linear infinite;
}
@keyframes fall-3 {
  36.435% {
    transform: translate(77.4028vw, 36.435vh) scale(0.2125);
  }
  to {
    transform: translate(81.84305vw, 100vh) scale(0.2125);
  }
}
.snow:nth-child(4) {
  opacity: 0.1217;
  transform: translate(58.9339vw, -10px) scale(0.2383);
  animation: fall-4 20s -21s linear infinite;
}
@keyframes fall-4 {
  30.851% {
    transform: translate(58.1322vw, 30.851vh) scale(0.2383);
  }
  to {
    transform: translate(58.53305vw, 100vh) scale(0.2383);
  }
}
.snow:nth-child(5) {
  opacity: 0.8821;
  transform: translate(84.5714vw, -10px) scale(0.642);
  animation: fall-5 16s -21s linear infinite;
}
@keyframes fall-5 {
  77.223% {
    transform: translate(84.599vw, 77.223vh) scale(0.642);
  }
  to {
    transform: translate(84.5852vw, 100vh) scale(0.642);
  }
}
.snow:nth-child(6) {
  opacity: 0.9486;
  transform: translate(47.8185vw, -10px) scale(0.7278);
  animation: fall-6 24s -5s linear infinite;
}
@keyframes fall-6 {
  33.668% {
    transform: translate(56.0137vw, 33.668vh) scale(0.7278);
  }
  to {
    transform: translate(51.9161vw, 100vh) scale(0.7278);
  }
}
.snow:nth-child(7) {
  opacity: 0.5349;
  transform: translate(2.6124vw, -10px) scale(0.0785);
  animation: fall-7 14s -8s linear infinite;
}
@keyframes fall-7 {
  73.75% {
    transform: translate(-2.6371vw, 73.75vh) scale(0.0785);
  }
  to {
    transform: translate(-0.01235vw, 100vh) scale(0.0785);
  }
}
.snow:nth-child(8) {
  opacity: 0.5227;
  transform: translate(58.86vw, -10px) scale(0.4304);
  animation: fall-8 11s -24s linear infinite;
}
@keyframes fall-8 {
  77.987% {
    transform: translate(64.5146vw, 77.987vh) scale(0.4304);
  }
  to {
    transform: translate(61.6873vw, 100vh) scale(0.4304);
  }
}
.snow:nth-child(9) {
  opacity: 0.9666;
  transform: translate(81.8042vw, -10px) scale(0.0086);
  animation: fall-9 15s -9s linear infinite;
}
@keyframes fall-9 {
  72.542% {
    transform: translate(90.855vw, 72.542vh) scale(0.0086);
  }
  to {
    transform: translate(86.3296vw, 100vh) scale(0.0086);
  }
}
.snow:nth-child(10) {
  opacity: 0.7634;
  transform: translate(29.656vw, -10px) scale(0.1576);
  animation: fall-10 22s -19s linear infinite;
}
@keyframes fall-10 {
  76.986% {
    transform: translate(25.8478vw, 76.986vh) scale(0.1576);
  }
  to {
    transform: translate(27.7519vw, 100vh) scale(0.1576);
  }
}
.snow:nth-child(11) {
  opacity: 0.1219;
  transform: translate(62.4077vw, -10px) scale(0.1672);
  animation: fall-11 23s -3s linear infinite;
}
@keyframes fall-11 {
  52.711% {
    transform: translate(71.8892vw, 52.711vh) scale(0.1672);
  }
  to {
    transform: translate(67.14845vw, 100vh) scale(0.1672);
  }
}
.snow:nth-child(12) {
  opacity: 0.3932;
  transform: translate(6.6291vw, -10px) scale(0.613);
  animation: fall-12 14s -20s linear infinite;
}
@keyframes fall-12 {
  38.265% {
    transform: translate(15.0727vw, 38.265vh) scale(0.613);
  }
  to {
    transform: translate(10.8509vw, 100vh) scale(0.613);
  }
}
.snow:nth-child(13) {
  opacity: 0.0351;
  transform: translate(26.3726vw, -10px) scale(0.7509);
  animation: fall-13 29s -21s linear infinite;
}
@keyframes fall-13 {
  63.551% {
    transform: translate(26.4631vw, 63.551vh) scale(0.7509);
  }
  to {
    transform: translate(26.41785vw, 100vh) scale(0.7509);
  }
}
.snow:nth-child(14) {
  opacity: 0.0259;
  transform: translate(36.1534vw, -10px) scale(0.4855);
  animation: fall-14 28s -15s linear infinite;
}
@keyframes fall-14 {
  51.415% {
    transform: translate(35.6048vw, 51.415vh) scale(0.4855);
  }
  to {
    transform: translate(35.8791vw, 100vh) scale(0.4855);
  }
}
.snow:nth-child(15) {
  opacity: 0.5974;
  transform: translate(23.876vw, -10px) scale(0.3827);
  animation: fall-15 26s -19s linear infinite;
}
@keyframes fall-15 {
  52.305% {
    transform: translate(27.8558vw, 52.305vh) scale(0.3827);
  }
  to {
    transform: translate(25.8659vw, 100vh) scale(0.3827);
  }
}
.snow:nth-child(16) {
  opacity: 0.0808;
  transform: translate(1.0352vw, -10px) scale(0.2735);
  animation: fall-16 17s -26s linear infinite;
}
@keyframes fall-16 {
  43.838% {
    transform: translate(4.3865vw, 43.838vh) scale(0.2735);
  }
  to {
    transform: translate(2.71085vw, 100vh) scale(0.2735);
  }
}
.snow:nth-child(17) {
  opacity: 0.7856;
  transform: translate(67.1397vw, -10px) scale(0.6388);
  animation: fall-17 27s -3s linear infinite;
}
@keyframes fall-17 {
  31.379% {
    transform: translate(76.5187vw, 31.379vh) scale(0.6388);
  }
  to {
    transform: translate(71.8292vw, 100vh) scale(0.6388);
  }
}
.snow:nth-child(18) {
  opacity: 0.3499;
  transform: translate(69.8862vw, -10px) scale(0.4334);
  animation: fall-18 16s -28s linear infinite;
}
@keyframes fall-18 {
  62.136% {
    transform: translate(70.4506vw, 62.136vh) scale(0.4334);
  }
  to {
    transform: translate(70.1684vw, 100vh) scale(0.4334);
  }
}
.snow:nth-child(19) {
  opacity: 0.8945;
  transform: translate(97.973vw, -10px) scale(0.4387);
  animation: fall-19 22s -3s linear infinite;
}
@keyframes fall-19 {
  48.553% {
    transform: translate(91.0691vw, 48.553vh) scale(0.4387);
  }
  to {
    transform: translate(94.52105vw, 100vh) scale(0.4387);
  }
}
.snow:nth-child(20) {
  opacity: 0.3175;
  transform: translate(94.9402vw, -10px) scale(0.653);
  animation: fall-20 25s -20s linear infinite;
}
@keyframes fall-20 {
  76.357% {
    transform: translate(104.9359vw, 76.357vh) scale(0.653);
  }
  to {
    transform: translate(99.93805vw, 100vh) scale(0.653);
  }
}
.snow:nth-child(21) {
  opacity: 0.586;
  transform: translate(38.1227vw, -10px) scale(0.4536);
  animation: fall-21 30s -28s linear infinite;
}
@keyframes fall-21 {
  63.593% {
    transform: translate(36.022vw, 63.593vh) scale(0.4536);
  }
  to {
    transform: translate(37.07235vw, 100vh) scale(0.4536);
  }
}
.snow:nth-child(22) {
  opacity: 0.4773;
  transform: translate(19.2168vw, -10px) scale(0.2343);
  animation: fall-22 13s -5s linear infinite;
}
@keyframes fall-22 {
  76.523% {
    transform: translate(28.9195vw, 76.523vh) scale(0.2343);
  }
  to {
    transform: translate(24.06815vw, 100vh) scale(0.2343);
  }
}
.snow:nth-child(23) {
  opacity: 0.8571;
  transform: translate(33.4884vw, -10px) scale(0.1794);
  animation: fall-23 26s -22s linear infinite;
}
@keyframes fall-23 {
  76.3% {
    transform: translate(32.038vw, 76.3vh) scale(0.1794);
  }
  to {
    transform: translate(32.7632vw, 100vh) scale(0.1794);
  }
}
.snow:nth-child(24) {
  opacity: 0.8307;
  transform: translate(13.1974vw, -10px) scale(0.7429);
  animation: fall-24 20s -14s linear infinite;
}
@keyframes fall-24 {
  51.934% {
    transform: translate(8.8699vw, 51.934vh) scale(0.7429);
  }
  to {
    transform: translate(11.03365vw, 100vh) scale(0.7429);
  }
}
.snow:nth-child(25) {
  opacity: 0.1739;
  transform: translate(55.5396vw, -10px) scale(0.5181);
  animation: fall-25 19s -9s linear infinite;
}
@keyframes fall-25 {
  74.504% {
    transform: translate(52.4939vw, 74.504vh) scale(0.5181);
  }
  to {
    transform: translate(54.01675vw, 100vh) scale(0.5181);
  }
}
.snow:nth-child(26) {
  opacity: 0.5151;
  transform: translate(71.221vw, -10px) scale(0.7099);
  animation: fall-26 24s -11s linear infinite;
}
@keyframes fall-26 {
  46.777% {
    transform: translate(69.306vw, 46.777vh) scale(0.7099);
  }
  to {
    transform: translate(70.2635vw, 100vh) scale(0.7099);
  }
}
.snow:nth-child(27) {
  opacity: 0.1585;
  transform: translate(61.9557vw, -10px) scale(0.8551);
  animation: fall-27 25s -3s linear infinite;
}
@keyframes fall-27 {
  47.961% {
    transform: translate(64.2211vw, 47.961vh) scale(0.8551);
  }
  to {
    transform: translate(63.0884vw, 100vh) scale(0.8551);
  }
}
.snow:nth-child(28) {
  opacity: 0.5643;
  transform: translate(3.5227vw, -10px) scale(0.3588);
  animation: fall-28 27s -30s linear infinite;
}
@keyframes fall-28 {
  32.891% {
    transform: translate(12.1275vw, 32.891vh) scale(0.3588);
  }
  to {
    transform: translate(7.8251vw, 100vh) scale(0.3588);
  }
}
.snow:nth-child(29) {
  opacity: 0.7756;
  transform: translate(72.5083vw, -10px) scale(0.6906);
  animation: fall-29 11s -15s linear infinite;
}
@keyframes fall-29 {
  72.37% {
    transform: translate(73.8136vw, 72.37vh) scale(0.6906);
  }
  to {
    transform: translate(73.16095vw, 100vh) scale(0.6906);
  }
}
.snow:nth-child(30) {
  opacity: 0.1926;
  transform: translate(27.7542vw, -10px) scale(0.5697);
  animation: fall-30 30s -22s linear infinite;
}
@keyframes fall-30 {
  36.487% {
    transform: translate(34.828vw, 36.487vh) scale(0.5697);
  }
  to {
    transform: translate(31.2911vw, 100vh) scale(0.5697);
  }
}
.snow:nth-child(31) {
  opacity: 0.0499;
  transform: translate(33.2009vw, -10px) scale(0.3899);
  animation: fall-31 15s -25s linear infinite;
}
@keyframes fall-31 {
  39.401% {
    transform: translate(24.288vw, 39.401vh) scale(0.3899);
  }
  to {
    transform: translate(28.74445vw, 100vh) scale(0.3899);
  }
}
.snow:nth-child(32) {
  opacity: 0.8285;
  transform: translate(90.4819vw, -10px) scale(0.5705);
  animation: fall-32 25s -28s linear infinite;
}
@keyframes fall-32 {
  77.491% {
    transform: translate(81.7382vw, 77.491vh) scale(0.5705);
  }
  to {
    transform: translate(86.11005vw, 100vh) scale(0.5705);
  }
}
.snow:nth-child(33) {
  opacity: 0.0862;
  transform: translate(93.8437vw, -10px) scale(0.2769);
  animation: fall-33 29s -24s linear infinite;
}
@keyframes fall-33 {
  48.852% {
    transform: translate(92.273vw, 48.852vh) scale(0.2769);
  }
  to {
    transform: translate(93.05835vw, 100vh) scale(0.2769);
  }
}
.snow:nth-child(34) {
  opacity: 0.1048;
  transform: translate(82.0134vw, -10px) scale(0.0258);
  animation: fall-34 13s -19s linear infinite;
}
@keyframes fall-34 {
  36.614% {
    transform: translate(79.8258vw, 36.614vh) scale(0.0258);
  }
  to {
    transform: translate(80.9196vw, 100vh) scale(0.0258);
  }
}
.snow:nth-child(35) {
  opacity: 0.3972;
  transform: translate(25.7425vw, -10px) scale(0.041);
  animation: fall-35 20s -13s linear infinite;
}
@keyframes fall-35 {
  67.657% {
    transform: translate(23.2856vw, 67.657vh) scale(0.041);
  }
  to {
    transform: translate(24.51405vw, 100vh) scale(0.041);
  }
}
.snow:nth-child(36) {
  opacity: 0.6644;
  transform: translate(48.9305vw, -10px) scale(0.9493);
  animation: fall-36 12s -8s linear infinite;
}
@keyframes fall-36 {
  35.35% {
    transform: translate(41.3467vw, 35.35vh) scale(0.9493);
  }
  to {
    transform: translate(45.1386vw, 100vh) scale(0.9493);
  }
}
.snow:nth-child(37) {
  opacity: 0.3934;
  transform: translate(28.8333vw, -10px) scale(0.3805);
  animation: fall-37 16s -26s linear infinite;
}
@keyframes fall-37 {
  42.518% {
    transform: translate(19.9219vw, 42.518vh) scale(0.3805);
  }
  to {
    transform: translate(24.3776vw, 100vh) scale(0.3805);
  }
}
.snow:nth-child(38) {
  opacity: 0.7333;
  transform: translate(58.3011vw, -10px) scale(0.2281);
  animation: fall-38 27s -27s linear infinite;
}
@keyframes fall-38 {
  68.12% {
    transform: translate(54.5842vw, 68.12vh) scale(0.2281);
  }
  to {
    transform: translate(56.44265vw, 100vh) scale(0.2281);
  }
}
.snow:nth-child(39) {
  opacity: 0.3066;
  transform: translate(74.0657vw, -10px) scale(0.5602);
  animation: fall-39 20s -3s linear infinite;
}
@keyframes fall-39 {
  39.981% {
    transform: translate(77.9583vw, 39.981vh) scale(0.5602);
  }
  to {
    transform: translate(76.012vw, 100vh) scale(0.5602);
  }
}
.snow:nth-child(40) {
  opacity: 0.5584;
  transform: translate(68.8424vw, -10px) scale(0.7459);
  animation: fall-40 30s -10s linear infinite;
}
@keyframes fall-40 {
  35.579% {
    transform: translate(72.57vw, 35.579vh) scale(0.7459);
  }
  to {
    transform: translate(70.7062vw, 100vh) scale(0.7459);
  }
}
.snow:nth-child(41) {
  opacity: 0.7523;
  transform: translate(67.2412vw, -10px) scale(0.6832);
  animation: fall-41 28s -24s linear infinite;
}
@keyframes fall-41 {
  68.504% {
    transform: translate(77.0284vw, 68.504vh) scale(0.6832);
  }
  to {
    transform: translate(72.1348vw, 100vh) scale(0.6832);
  }
}
.snow:nth-child(42) {
  opacity: 0.8181;
  transform: translate(65.7756vw, -10px) scale(0.5284);
  animation: fall-42 12s -6s linear infinite;
}
@keyframes fall-42 {
  66.28% {
    transform: translate(74.6471vw, 66.28vh) scale(0.5284);
  }
  to {
    transform: translate(70.21135vw, 100vh) scale(0.5284);
  }
}
.snow:nth-child(43) {
  opacity: 0.8162;
  transform: translate(54.8019vw, -10px) scale(0.081);
  animation: fall-43 12s -7s linear infinite;
}
@keyframes fall-43 {
  47.244% {
    transform: translate(58.4884vw, 47.244vh) scale(0.081);
  }
  to {
    transform: translate(56.64515vw, 100vh) scale(0.081);
  }
}
.snow:nth-child(44) {
  opacity: 0.8625;
  transform: translate(3.3086vw, -10px) scale(0.8588);
  animation: fall-44 14s -18s linear infinite;
}
@keyframes fall-44 {
  50.845% {
    transform: translate(-0.4378vw, 50.845vh) scale(0.8588);
  }
  to {
    transform: translate(1.4354vw, 100vh) scale(0.8588);
  }
}
.snow:nth-child(45) {
  opacity: 0.3486;
  transform: translate(72.7321vw, -10px) scale(0.1303);
  animation: fall-45 23s -18s linear infinite;
}
@keyframes fall-45 {
  69.965% {
    transform: translate(71.115vw, 69.965vh) scale(0.1303);
  }
  to {
    transform: translate(71.92355vw, 100vh) scale(0.1303);
  }
}
.snow:nth-child(46) {
  opacity: 0.4872;
  transform: translate(91.006vw, -10px) scale(0.3032);
  animation: fall-46 26s -20s linear infinite;
}
@keyframes fall-46 {
  74.1% {
    transform: translate(90.1852vw, 74.1vh) scale(0.3032);
  }
  to {
    transform: translate(90.5956vw, 100vh) scale(0.3032);
  }
}
.snow:nth-child(47) {
  opacity: 0.2059;
  transform: translate(78.7957vw, -10px) scale(0.4449);
  animation: fall-47 28s -24s linear infinite;
}
@keyframes fall-47 {
  51.246% {
    transform: translate(74.9924vw, 51.246vh) scale(0.4449);
  }
  to {
    transform: translate(76.89405vw, 100vh) scale(0.4449);
  }
}
.snow:nth-child(48) {
  opacity: 0.9641;
  transform: translate(17.2626vw, -10px) scale(0.6649);
  animation: fall-48 18s -29s linear infinite;
}
@keyframes fall-48 {
  40.883% {
    transform: translate(21.6453vw, 40.883vh) scale(0.6649);
  }
  to {
    transform: translate(19.45395vw, 100vh) scale(0.6649);
  }
}
.snow:nth-child(49) {
  opacity: 0.4392;
  transform: translate(76.0498vw, -10px) scale(0.4618);
  animation: fall-49 14s -29s linear infinite;
}
@keyframes fall-49 {
  66.723% {
    transform: translate(67.308vw, 66.723vh) scale(0.4618);
  }
  to {
    transform: translate(71.6789vw, 100vh) scale(0.4618);
  }
}
.snow:nth-child(50) {
  opacity: 0.6226;
  transform: translate(53.5038vw, -10px) scale(0.7164);
  animation: fall-50 19s -29s linear infinite;
}
@keyframes fall-50 {
  32.026% {
    transform: translate(58.0379vw, 32.026vh) scale(0.7164);
  }
  to {
    transform: translate(55.77085vw, 100vh) scale(0.7164);
  }
}
#cutMenu::-webkit-scrollbar {
  height: 8px;
  display: block;
}
#cutMenu::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
#cutMenu::-webkit-scrollbar-thumb {
  background: rgba(146, 130, 130, 0.4);
  border-radius: 4px;
}
#cutMenu::-webkit-scrollbar-thumb:hover {
  background: rgba(146, 130, 130, 0.7);
}
